.articles {
  display: flex;
  flex-wrap: wrap;
}

.search-title {
  font-size: 16px;
  font-weight: bold;
}

.search-results{
  width: 1360px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #EAEAEA;
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
}

.search-input {
  width: 600px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  font-size: 16px;
  margin-top: 10px;
}